.header {
  padding: 30px 0;
  min-height: 100px;
  background: var(--primary-color);
}

.header__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo {
  display: flex;
  flex-shrink: 0;
  margin-right: auto;
  width: 173px;
  height: 40px;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-right: 296px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 926px;
  gap: 20px 96px;
}

.nav__link {
  white-space: nowrap;
  font-weight: 600;
  font-size: 18px;
  color: var(--secondary-color);
}

.header__search {
  display: flex;
  align-items: center;
  width: 28px;
  height: 28px;
  fill: var(--secondary-color);
}

.header__search svg {
  width: inherit;
  height: inherit;
}

.hero {
  padding-top: 146px;
  padding-bottom: 146px;
  background-image: image-set(
    url("../img/hero-img/hero-img@1x.webp") type("image/webp") 1x,
    url("../img/hero-img/hero-img@2x.webp") type("image/webp") 2x,
    url("../img/hero-img/hero-img@1x.jpg") type("image/jpg") 1x,
    url("../img/hero-img/hero-img@2x.jpg") type("image/jpg") 2x
  );
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  display: flex;
  align-items: center;
  /* min-height: 700px; */
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 36%;
  /* min-height: 408px; */
}

.hero-wrapper__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 0.94444;
  color: var(--secondary-color);
}

.hero-wrapper__descr {
  margin: 0;
  margin-bottom: 93px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.66667;
  color: var(--secondary-color);
}

.hero-wrapper__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 24px 35px;
  font-weight: 700;
  font-size: 18px;
  background-color: var(--btn-color);
  color: var(--secondary-color);
}

.about {
  padding-top: 86px;
}

.about__title {
  margin-bottom: 20px;
  }
  
  .about__descr {
  max-width: 67%;
}